version: '3.9'

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - '5173:5173'
    environment:
      VITE_API_BASE_URL: 'https://urnik.live/api/api/Timetable'
      __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS: 'urnik.live,.urnik.live'
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_healthy

  backend:
    build: ./backend
    container_name: backend
    ports:
      - '5013:5013'
    environment:
      DB_CONNECTION_STRING: 'Host=database;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}'
      DOWNLOAD_PATH: /app/Data/ExcelFiles
      SCREENSHOT_PATH: /app/Data/Screenshots
      LOG_FILE_DIRECTORY: /app/Data/Logs
      Jwt__Secret: '${Jwt__Secret}'
      Jwt__Issuer: '${Jwt__Issuer}'
      Jwt__Audience: '${Jwt__Audience}'
      Google__ClientId: '${Google__ClientId}'
      Google__ClientSecret: '${Google__ClientSecret}'
      Frontend__Url: '${Frontend__Url}'
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
    healthcheck:
      test: ['CMD-SHELL', "bash -c 'echo > /dev/tcp/127.0.0.1/5013' "]
      interval: 5s
      timeout: 5s
      retries: 20

  database:
    image: postgres:16
    container_name: database
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB || exit 1',
        ]
      interval: 5s
      timeout: 5s
      retries: 20

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    profiles: ['tools']
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - '5050:80'
    depends_on:
      database:
        condition: service_healthy

volumes:
  postgres_data:
